<?xml version="1.0"?>
<!--
/**
* @author Ceymox Team
* @copyright Copyright (c)2019 Ceymox (https://ceymox.com)
* @package Ceymox_FullCheckout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="fullcheckout" frontName="fullcheckout">
            <module name="Ceymox_FullCheckout" />
        </route>
    </router>
</config>
